.alert {
    color: #DB1A1D;
}

#teambox1 {
    background-color: black;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
}
#teambox2 {
    background-color: blue;
    width: 20px;
    height: 20px;
    text-align: left;
    display: block;
    float: left;
    margin: 2px;
}
#teambox3 {
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
}