.alert {
    color: #DB1A1D;
}

#teambox1 {
    background-color: black;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
}
#teambox2 {
    background-color: blue;
    width: 20px;
    height: 20px;
    text-align: left;
    display: block;
    float: left;
    margin: 2px;
}
#teambox3 {
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
}

.Red {
    background-color: red;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
    border-radius: 5px;
}

.Blue {
    background-color: blue;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
    border-radius: 5px;
}

.White {
    background-color: white;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid black;
}

.Black {
    background-color: black;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
    border-radius: 5px;
}

.Yellow {
    background-color: yellow;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
    border-radius: 5px;
}

.Green {
    background-color: green;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
    border-radius: 5px;
}

.Orange {
    background-color: orange;
    width: 20px;
    height: 20px;
    text-align: left;
    float: left;
    margin: 2px;
    border-radius: 5px;
}

th {
    font-weight: 900;
}